apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: kube-ops-view-ng
  name: kube-ops-view-ng
  namespace: ng
spec:
  selector:
    matchLabels:
      app: kube-ops-view-ng
  replicas: 1
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: kube-ops-view-ng
    spec:
      serviceAccountName: kube-ops-view-ng
      containers:
        - image: docker.io/pettersolberg88/kube-ops-view:main
          imagePullPolicy: IfNotPresent
          name: kube-ops-view-ng
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            capabilities:
              drop:
                - all
          resources:
            requests:
              cpu: 10m
              memory: 32Mi
            limits:
              memory: 128Mi
          readinessProbe:
            httpGet:
              path: /api/ready
              port: 8080
            initialDelaySeconds: 10
            timeoutSeconds: 1
          livenessProbe:
            httpGet:
              path: /api/alive
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 1
            failureThreshold: 1
      terminationGracePeriodSeconds: 30
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: kube-ops-view-ng
  namespace: ng
---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: kube-ops-view-ng
rules:
  - apiGroups: [""]
    resources: ["nodes", "pods"]
    verbs:
      - list
      - watch
  - apiGroups: ["metrics.k8s.io"]
    resources: ["nodes", "pods"]
    verbs:
      - list
      - watch
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: kube-ops-view-ng
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: kube-ops-view-ng
subjects:
  - kind: ServiceAccount
    name: kube-ops-view-ng
    namespace: ng
---
apiVersion: v1
kind: Service
metadata:
  labels:
    application: kube-ops-view-ng
  name: kube-ops-view-ng
  namespace: ng
spec:
  ports:
    - port: 80
      protocol: TCP
      targetPort: 8080
  selector:
    app: kube-ops-view-ng
  type: NodePort